.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Outfit-Regular", sans-serif;
  font-size: 10px;
  color: #1a1a1a;
  margin: 0;
  padding: 0 40px;
}
